<div class="limiter">
    <div class="container-login">
      <mat-card>
        <mat-card-title>
          Reset Password
        </mat-card-title>
        <mat-card-content>
          <form
            class="example-form"
            [formGroup]="userForm"
            (ngSubmit)="submit()"
          >
            <mat-form-field class="example-full-width">
              <mat-label>New Password</mat-label>
              <input
                matInput
                placeholder="New Password"
                formControlName="password"
                type="password"
              />
              <mat-error
                *ngIf="userFormErrors.password.invalid &&
                  userFormErrors.password.touched">
                Password Is Required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Confirm Password</mat-label>
              <input
                matInput
                placeholder="Confirm Password"
                formControlName="confirmPassword"
                type="password"
              />
              <mat-error
                *ngIf="userFormErrors.confirmPassword.invalid &&
                  userFormErrors.confirmPassword.touched">
                Password Is Required
              </mat-error>
            </mat-form-field>
            <div>
              <button class="btn-block"
                mat-raised-button
                type="submit"
                color="accent"
                [disabled]="userForm.invalid">
                Submit
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  