<div class="limiter">
    <div class="container-login">
      <mat-card>
        <mat-card-title>
          Forgot Password
        </mat-card-title>
        <mat-card-content>
          <form
            class="example-form"
            [formGroup]="userForm"
            (ngSubmit)="submit()"
          >
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="Email"
                formControlName="email"
                type="text"
              />
              <mat-error
                *ngIf="userFormErrors.email.invalid &&
                  userFormErrors.email.touched">
                Email Is Required
              </mat-error>
            </mat-form-field>
            <div>
              <button class="btn-block"
                mat-raised-button
                type="submit"
                color="accent"
                [disabled]="userForm.invalid">
                Submit
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  