<mat-card>
  <h3>Invoices </h3>
  <form class="example-form" [formGroup]="invoiceForm" (ngSubmit)="submit()">
    <mat-form-field class="example-full-width">
      <mat-label>Select Client</mat-label>
      <mat-select  formControlName="client">
        <mat-option *ngFor="let client of allClients ; let i = index ;" [value]="allClients[i]?._id">
          {{client?.firstName}}&nbsp;{{client?.lastName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Item</mat-label>
      <input matInput placeholder="Item" formControlName="item" type="text" />
      <mat-error *ngIf="invoiceFormErrors.item.invalid && invoiceFormErrors.item.touched">
        Item Is Required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="date" formControlName="date" />
      <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
      <mat-datepicker #date></mat-datepicker>
      <mat-error *ngIf="invoiceFormErrors.date.invalid && invoiceFormErrors.date.touched">
        Date Is Required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Due</mat-label>
      <input matInput [matDatepicker]="due" formControlName="due"/>
      <mat-datepicker-toggle matSuffix [for]="due"></mat-datepicker-toggle>
      <mat-datepicker #due></mat-datepicker>
      <mat-error *ngIf="invoiceFormErrors.due.invalid && invoiceFormErrors.due.touched">
        Due Date Is Required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Quantity</mat-label>
      <input matInput placeholder="Quantity" formControlName="qty" type="number"/>
      <mat-error *ngIf="invoiceFormErrors.qty.invalid && invoiceFormErrors.qty.touched">
        Quantity Is Required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Rate</mat-label>
      <input matInput placeholder="Rate" formControlName="rate" type="number" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Tax</mat-label>
      <input matInput placeholder="Tax" formControlName="tax" type="number" />
    </mat-form-field>
    <div >
        <button mat-raised-button type="submit" color="accent" [disabled]="invoiceForm.invalid">Save</button>
        <button mat-raised-button type="reset" (click)="resetForm()" *ngIf="!(selectedInvoice)">Cancel</button>
    </div>
  </form>
</mat-card>
