.example-container {
    width: 550px;
}
.example-container2 {
    width: 300px;
}

.card_main_container{
    text-align: left;
    height: 100%;
    width: 20%;
    display: inline-block;
  }

  .card_main_container2 {
    text-align: right;
    height: 100%;
    width: 60%;
    display: inline-block;
    margin-left: 5%;
  }